src/test/resources/example-flow.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
">

    <vm:endpoint name="inbox" path="test.inbox"/>
    <vm:endpoint name="txInbox" path="test.tx.inbox"/>
    <vm:endpoint name="outbox" path="test.outbox"/>
    <vm:endpoint name="otherInbox" path="test.other.inbox"/>
    <vm:endpoint name="otherOutbox" path="test.other.outbox" />
    <set-payload name="identityTransformer" value="#[payload]" />
    <set-payload name="otherIdentityTransformer" value="#[payload]" />
    <set-property name="txidCapture" propertyName="txid" value="#[TransactionCoordination.getInstance().getTransaction().getId()]" />


    <notifications dynamic="true">
        <notification event="ENDPOINT-MESSAGE" />
        <notification event="MESSAGE-PROCESSOR" />
    </notifications>


    <configuration>
        <expression-language>
            <import class="org.mule.transaction.TransactionCoordination" />
        </expression-language>
    </configuration>

    <flow name="example-flow">
        <inbound-endpoint ref="inbox"/>
        <logger category="com.confluex.mule.test.example-flow" level="INFO" message="Message received: #[payload]"/>
        <transformer ref="identityTransformer" />
        <logger category="com.confluex.mule.test.example-flow" level="INFO" message="Message transformed: #[payload]"/>
        <outbound-endpoint ref="outbox"/>
        <logger category="com.confluex.mule.test.example-flow" level="INFO" message="Message sent: #[payload]"/>
    </flow>

    <flow name="other-example-flow">
        <inbound-endpoint ref="otherInbox" />
        <logger category="com.confluex.mule.test.other-example-flow" level="INFO" message="(OTHER) Message received: #[payload]"/>
        <transformer ref="otherIdentityTransformer" />
        <logger category="com.confluex.mule.test.other-example-flow" level="INFO" message="(OTHER) Message transformed: #[payload]"/>
        <outbound-endpoint ref="otherOutbox" />
        <logger category="com.confluex.mule.test.other-example-flow" level="INFO" message="(OTHER) Message sent: #[payload]"/>
    </flow>

    <flow name="transactional-flow">
        <inbound-endpoint ref="txInbox">
            <vm:transaction action="ALWAYS_BEGIN" />
        </inbound-endpoint>
        <processor ref="txidCapture" />
        <logger category="com.confluex.mule.test.transactional-flow" level="INFO" message="Message received: #[payload]"/>
        <choice>
            <when expression="#[payload == 'POISON']">
                <logger category="com.confluex.mule.test.transactional-flow" level="WARN" message="Poison message detected, self destruct sequence activated" />
                <component class="com.confluex.mule.test.BoomComponent" />
            </when>
            <otherwise>
                <logger category="com.confluex.mule.test.transactional-flow" level="DEBUG" message="Message certified poison free" />
            </otherwise>
        </choice>
        <outbound-endpoint ref="outbox">
            <vm:transaction action="ALWAYS_JOIN" />
        </outbound-endpoint>
        <logger category="com.confluex.mule.test.transactional-flow" level="INFO" message="Message sent: #[payload]"/>
    </flow>
</mule>